/** Shopify CDN: Minification failed

Line 18:0 Unexpected "{"
Line 18:1 Expected identifier but found "%"
Line 27:3 Unexpected "{"
Line 27:4 Expected identifier but found "%"
Line 32:0 Unexpected "{"
Line 32:1 Expected identifier but found "%"
Line 36:2 Unexpected "{"
Line 36:3 Expected identifier but found "%"

**/
/* SHOPIFY_STYLESHEETS_VERSION: 1.0 */


/* CSS from section stylesheet tags */
/* START_SECTION:store-locator (INDEX:76) */
{% if template.name == 'store-locator' %}
   .index-section {
      margin: 0;
      padding-top: 40px;
   }

   .main-content {
      background-color: #fafafa;
   }
   {% endif %}
/* END_SECTION:store-locator */

/* CSS from snippet stylesheet tags */
/* START_SNIPPET:nav-item (INDEX:230) */
{% if request.path != "/pages/store-locator-1" %}
      [class*=images-].grandparent .dropdown__family {
        max-width: unset !important;
      }
  {% endif %}
/* END_SNIPPET:nav-item */